body {
    margin: 0;
    padding: 0;
    background-color: #384259;
  
}

#main-header {
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
    font-family:'lexend zetta' ;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 25px;
    letter-spacing: 10px;
    height: 50px;
    min-width: 800px;
    box-sizing: content-box;
}

#main-header img {
    vertical-align: middle;
    width: 80px;
    height: 80px;
}

#personal-info {
    position: relative;
    width: 600px;
    margin: 40px auto 50px auto;
    padding: 32px 32px 24px 32px;
    background: rgba(40, 45, 65, 0.95);
    border-radius: 24px;
    color: #ffff;
    font-family: 'JetBrains', 'Lexend Zetta', sans-serif;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /**160px*/
    grid-template-rows: auto auto;
}
#personal-questions
{
    grid-column: 1/3;
    grid-row:1/2

}
#image {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    align-items: center;    /* vertical centering inside the cell */
    justify-content: center; /* horizontal centering inside the cell */
    justify-self: center;    /* center the cell itself in the grid column */
}

#image img {
    width: 200px; 
}


#dificultad-preguntas
{
    margin-top: 50px;
    grid-column:1/4;
    grid-row: 2/3;
    text-align: center;
}

.input-value
{
    background-color: transparent;
    border-radius: 5px;
    border-color:  rgba(40, 45, 65, 0.4);
    border-top: transparent;
    border-left: transparent;
    
}

.any-button
{
    color: white;
    font-family: 'lexend zetta';
    text-align: center;

    background-color: black;
    padding: 20px;
    border-color: white;
    border-width: 1px;
    border-radius: 15px;
    display: block;
    margin: auto;
}

.screen
{
    width: 100%;
    height: 100%;
}

.hidden
{
    display: none;
}

.header-board
{
    height: 30px;
    box-sizing: content-box;
    text-align:center;
    padding-top: 10px;
    border-bottom: 2px solid rgb(197, 196, 196);
    background-color: blue;
}
.board-text
{
    height: 200px;
    width: 95%;
    font-family: "JetBrains";
    border-radius: 20px;
    background-color: white;
    /*box-sizing: border-box;*/

}

#boards-grid
{
    position: relative;
    width: 800px;
    margin: 10px auto 10px auto;
    padding: 32px 32px 24px 32px;
    background: rgba(40, 45, 65, 0.95); /*quitable*/
    border-radius: 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /**160px*/
    grid-template-rows: auto auto;
    row-gap: 20px;
}

#stats-board
{
    grid-column: 1/3;
    grid-row:1/2

}
#seconds-board
{
    grid-column: 3/4;
    grid-row:1/2
}

#preguntas-board
{
    grid-column: 1/4;
    grid-row: 2/3;
    text-align: center;
    box-sizing: content-box;
}



