.{
    margin : 0;
    padding: 0;
}
body
{
    font-family: Verdana;
    background-color: #002345;
    color: #ABCDEF;
}

h2
{
    text-align: center;
    margin: 30px 0 20px 0;
    color: white;
}

#subtitulo{
    margin-bottom: 80px;
}
legend{
    font-size: 1.7em;
    padding: 0 7px;;
}
fieldset
{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    padding: 10px 30px;
}

#reloj
{
    font-size: 6em;
    color: white;
}
h1{
    text-align: center;
    font-size: 5em;
}